<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.system.navbar.stock"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.systemui" android:priority="1"/>

    <application android:label="StockNavbar" android:hasCode="false"/>
</manifest>
