on post-fs-data
    # Create an additional OTA package directory that unlike /data/ota_package
    # will not be touched by GmsCore.
    mkdir /data/system_updates 0770 system cache encryption=None

    mkdir /cache/recovery 0770 system cache

    #Smart charging
    chown system system /sys/class/power_supply/battery/battery_charging_enabled
    chmod 0666 /sys/class/power_supply/battery/battery_charging_enabled
    chown system system /sys/class/power_supply/battery/charging_enabled
    chmod 0666 /sys/class/power_supply/battery/charging_enabled
    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/input_suspend

on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix
