<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.system.navbar.android"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.systemui" android:category="android.theme.customization.navbar" android:priority="1"/>

    <application android:label="Android" android:hasCode="false"/>
</manifest>
