<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.android.pixel.setupwizard.evolutionx.overlay">

    <overlay
        android:targetPackage="com.google.android.pixel.setupwizard"
        android:targetName="PixelSetupWizard"
        android:isStatic="true"/>
    <application
        android:label="PixelSetupWizardOverlay"
        android:hasCode="false"/>
</manifest>
