<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.system.switch.telegram"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android"/>

    <application android:label="Telegram Switch" android:hasCode="false"/>
</manifest>
