<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023 The Evolution X Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.overlay.touchgestures">

    <overlay
        android:isStatic="true"
        android:priority="10"
        android:targetPackage="com.android.settings" />
    <application
        android:allowBackup="false"/>
</manifest>
